@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=SUSE:wght@100..800&display=swap");

.order_div {
  margin-top: 70px;
  margin-bottom: 150px;
}
.order_div h1 {
  color: #b22222;
}
.alert {
  font-size: 11px;
  font-weight: 700;
}
.select_category {
  width: 100%;
  padding: 10px;
  font-size: 13px;
  border-radius: 5px;
  border-bottom: 2px solid #b22222;
  background-color: #f9f9f9;
  color: #cd5c5c;
  /* Limit height and make the dropdown scrollable */
  max-height: 200px; /* Adjust this value as needed */
  overflow-y: auto;
}
label {
  font-family: "ABeeZee", sans-serif;
  font-size: 17px;
  font-weight: 600;
  color: #b22222;
}

.select_category option {
  padding: 10px;
  font-size: 13px;
  background-color: #fff;
  color: #cd5c5c;
}
input::placeholder {
  font-size: 12px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.compulsory {
  display: flex;
  justify-content: space-between;
}
.measurement {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 500px; */
}
.measurement input {
  width: 1005;
  padding: 10px;
  font-size: 13px;
  border-radius: 5px;
  border-bottom: 1px solid #b22222;
}
.personalInformation {
  margin-top: 50px;
}
.h5 {
  color: #b22222;
  text-align: center;
}
.text_area {
  height: 200px;
  border-radius: 10px;
  border-bottom: 2px solid #b22222 !important;
  background-color: #f9f9f9 !important;
}
.text_area::placeholder {
  font-size: 13px;
  color: #a8a6a6 !important;
}
.btn {
  padding: 10px 10px 10px 10px !important ;
}

form aside{
  font-size: 13px;
  color: #b22222;
  margin-top: 40px;
}